/* header*/

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    background-color: var(--color-bg);
    
}


/* barra superios */

.header__top {
    width: 100%;
    max-width: 100%;
    min-height: 38px;

    padding: 0 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-white);
    color: var(--color-text-primary);
}

.header__top div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__top p,
.header__top a {
    margin: 0;

    font-size: 0.8rem;
    font-weight: 500;
}

.header__top a {
    color: var(--color-text-primary);
    text-decoration: none;

    transition: var(--transicion);
}

.header__top a:hover {
    color: var(--color-primary);
}


/* contador carrito */

#contador {
    position: absolute;

    top: -2px;
    right: -2px;

    min-width: 17px;
    height: 17px;

    padding: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-primary);

    color: var(--color-black);

    border-radius: 50%;

    font-size: 0.65rem;
    font-weight: bold;

    line-height: 1;
}


.menu{
    display: flex;
    flex-direction: column;
}


/* Hero y Header*/

.hero{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    padding-top: 40px ;
}

.hero__contenido{

    padding: 20px 4rem ;
    background-color: var(--color-white);
    color: var(--color-text-primary);
}

.hero__subtitulo{
    font-size: 0.9rem;
    text-transform: uppercase;

    margin-bottom: 15px;

    color: var(--color-text-accent);
}

.hero__titulo{
    max-width: 450px;
    
    margin-bottom: 10px;

    font-size: 4.3rem;
    font-weight: 700;

    color: var(--color-text-primary);

    text-transform: capitalize;
}

.span__titulo{
    color: var(--color-primary);
}

.hero__texto{
    max-width: 280px;
    padding: 15px 0;
    color: var(--color-text-secondary);
}




.contenedor__botones {
    margin-top: 30px;
}

.hero__botones {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Botón principal */
.boton__comprar {
    display: inline-flex;
    gap: 10px;

    padding: 14px 24px;

    font-weight: 600;
    text-decoration: none;
    transition: ease 0.3s;

}

.boton__comprar:hover {
    background-color: var(--color-primary-hover);
    color: var(--color-black);
}

/* Botón secundario */
.boton__explorar {
    display: inline-flex;

    padding: 13px 24px;

    color: var(--color-text-primary);
    background-color: transparent;

    border: 1px solid var(--color-border);

    font-weight: 600;
    text-decoration: none;


}

.boton__explorar:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);

}


/*imagen hero*/

.hero__picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 750px;
}

.hero__circulo{
    position: absolute;

    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(22,229,107,.12)0%,
        rgba(22,229,107,.35)45%,
        rgba(22,229,107,.65)75%,
        rgba(22,229,107,.9)100%,
        transparent 100%
    );
    filter: blur(2px);

    z-index: 1;
}

.hero__circulo--izq{
    width: 470px;
    height: 470px;
    left: 80px;
    top: 70px;
}

.hero__circulo--der{
    width: 350px;
    height: 350px;
    right: 60px;
    top: -10px;
}

.hero__imagen {
    position: absolute;
    display: block;

    width: 100%;
    height: auto;

    z-index: 2;
    object-fit: contain;
}


/* marcas */

.marcas{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 0.4rem;
}

.title__marcas{
    font-size: 1.2rem;
}

.title__marcas p{
    max-width: 500px;
}


/*marcas contenedor*/

.contenedor__marcas{
    display: flex;
    gap: 1.5rem;
    
}

.marca{
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-100);
    border-radius: 12px;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
}





.marca__imagen{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: contain;
    padding: 1.5rem;
}

.marca__contenido{
    padding: 1rem;
    text-align: center;
}


.contenido__titulo{
    color: var(--color-text-secondary);
    transition: var(--transicion);
}

.contenido__titulo:hover{
    color: var(--color-primary-hover);
    translate: calc(10px);
}